<ul>
  <li class="new">
    <div class="row-fluid">
      <form>
        <div class="input-append">
          <input name="name" id="name" class="span9" type="text"/>
          <button class="btn" href="#" type="submit">Create</button>
        </div>
      </form>
    </div>
  </li>
  <li class="favorites">
    <div data-hull-component="list_button@hull" data-hull-id="{{id}}" data-hull-list-name="favorites"></div>
  </li>
</ul>
<ul class="lists">
</ul>

<style type="text/css">
  [data-hull-component^="lists/bindings"] .favorites .btn {
    width: 100%;
  }
</style>
