@font-face {
  font-family: 'HullIcon';
  src: url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.hull-icon {
  display: inline-block;
  font-family: HullIcon;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hull-icon-facebook:before { content: "\f09a"; }
.hull-icon-twitter:before { content: "\f099"; }
.hull-icon-google:before { content: "\f0d5"; }
.hull-icon-instagram:before { content: "\f16d"; }

.hull-social {
  margin: 0;
  padding: 0;
  position: relative;
}

.hull-social div,
.hull-social p {
  margin: 0;
}

.hull-social div.hull-error-container {
  margin-bottom: 10px;
}

.hull-error {
  margin-bottom: 10px;
  background: #F2DEDE;
  border: 1px solid #EBCCD1;
  color: #A94442;
  border-radius: 4px;
  padding: 10px;
}

.hull-error a,
.hull-error a:hover {
  color: #A94442;
  text-decoration: underline;
  opacity: 1;
}

.hull-loader {
  display: none;
}

.hull-loading {
  min-width: 120px;
}

.hull-loading .hull-loader {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: none;
  border: 0;
  outline: 0;
}

.hull-loading .hull-social-container {
  opacity: .1;
}

.hull-btn,
.hull-btn:hover,
.hull-btn:active {
  background-image: none;
  border-radius: 4px;
  padding: 10px 12px;
  border: 1px solid #000;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  line-height: 1;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-shadow: none;
}

.hull-btn-facebook {
  background-color: #3B5998;
  border-color: #35508d;
}

.hull-btn-twitter {
  background-color: #55acee;
  border-color: #4ca4ec;
}

.hull-btn-google {
  background-color: #dd4b39;
  border-color: #da4333;
}

.hull-btn-instagram {
  background-color: #3f729b;
  border-color: #2B597E;
}

.hull-btn-facebook:hover {
  background-color: #2f4783;
  border-color: #273c6f;
}

.hull-btn-facebook:hover {
  background-color: #2f4783;
  border-color: #273c6f;
}

.hull-btn-twitter:hover {
  background-color: #449beb;
  border-color: #3d8cd7;
}

.hull-btn-google:hover {
  background-color: #d63c2e;
  border-color: #c23629;
}

.hull-btn-instagram:hover {
  background-color: #38668B;
  border-color: #264F71;
}

.hull-btn .hull-icon {
  margin-right: 5px;
}

/**
 * data-hull-inline="true"
 */

.hull-inline .hull-btn {
  display: inline-block;
}

/**
 * data-hull-inline="false"
 */

.hull-block .hull-btn {
  display: block;
  margin-bottom: 10px;
}
