.hull-banner-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 0;
  background: white;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.hull-banner-title{
  color:#666;
  margin:0 0 5px 0;
  font-size: 24px;
  font-weight: normal;
  font-family:'Helvetica Neue',Helvetica,arial,sans-serif;
}

.hull-banner-text{
  font-size: 14px;
  margin:0 0 10px 0;
  color:#838383;
  font-weight: normal;
  font-family:'Helvetica Neue',Helvetica,arial,sans-serif;
}

.hull-banner-button{
  border-radius: 3px;
  margin:0;
  border-radius: 3px;
  background: white;
  color:#33ADEC;
  border:1px solid #33ADEC;
  padding:10px 30px;
  font-size: 14px;
  line-height: 50px;
  font-weight: normal;
}
