<div class="hull-quiz_admin">
  <form id="hull-quiz_admin__form" class="hull-form hull-quiz_admin__form">

    <div class="hull-quiz_admin__header">
     {{> quiz_admin/quiz_admin_header }}
    </div>

    <ol class="hull-form__fields">

      {{#each quiz.questions}}
        {{> quiz_admin/quiz_admin_question}}
      {{/each}}

      {{! add a new question }}
      {{> quiz_admin/quiz_admin_addquestion}}

      {{! submit form }}
      {{> quiz_admin/quiz_admin_save}}

    </ol>

  </form>
</div>