<button class="hull-btn" data-hull-action="deletequestion" data-hull-question-id="{{id}}">Delete question</button>
<h3>Details</h3>

<label class="hull-form__label">Name</label>
<input name="detail-name" class="hull-form__text-input" type="text" value="{{name}}" placeholder="Enter a name" />

<label class="hull-form__label">Description</label>
<input name="detail-description" class="hull-form__text-input" type="text" value="{{description}}" placeholder="Enter a description" />

