<div class="hull-quiz_admin">
  {{#if loggedIn}}
  {{#if quiz}}
    {{>quiz_admin/quiz_admin_form}}
  {{/if}}

  {{#unless quiz}}
    {{>quiz_admin/quiz_admin_list}}
  {{/unless}}
  {{else}}
    <div data-hull-widget="identity@hull"></div>
  {{/if}}
</div>
