<h1 class="hull-quiz_admin__title">
  <input name="name" class="hull-form__text-input" type="text" value="{{quiz.name}}" placeholder="Enter a name" />
</h1>

<p class="hull-quiz_admin__description">
  <input name="description" class="hull-form__text-input" type="text" value="{{quiz.description}}" placeholder="Enter a description" />
</p>

<div class="hull-quiz_admin__help">
  <h3 class="hull-quiz_admin__title">Paste this in your page to instanciate your quiz.</h3>
  <pre class="hull-quiz_admin__code">
&lt;!-- Quiz:  {{quiz.name}} --&gt;
&lt;div data-hull-widget=&quot;quiz@hull&quot; data-hull-id=&quot;{{quiz.id}}&quot;&gt;&lt;/div&gt;
  </pre>
</div>
