<tr data-hull-answer-id="{{id}}">
  <td>
    <input name="answer-name" class="hull-form__text-input" type="text" value="{{name}}" placeholder="Titre" />
  </td>
  <td>
    <input name="answer-description" class="hull-form__text-input" type="text" value="{{description}}" placeholder="Description" />
  </td>
  <td>
    <input name="answer-weight" class="hull-form__text-input" type="number" value="{{weight}}" placeholder="Points" />
  </td>
  <td>
    <button class="hull-btn" data-hull-action="deletechoice">&times;</button>
  </td>
</tr>