<h1>
  <input name="name" class="hull-form__text-input" type="text" value="{{quiz.name}}" placeholder="Enter a name" />
</h1>
<p>
  <input name="description" class="hull-form__text-input" type="text" value="{{quiz.description}}" placeholder="Enter a description" />
</p>