<div class="hull-quiz_admin__list">
  <div class="hull-quiz_admin__list__title">
    <h1>My quizzes</h1>
  </div>
  <ul>
    {{#quizzes}}
      <li class="hull-quiz_admin__list__item">
        <span data-hull-id="{{id}}" data-hull-action="edit">{{name}}</span>
      </li>
    {{/quizzes}}
  </ul>
</div>

<form id="hull-quiz_admin__form--add" class="hull-form hull-quiz_admin__form--add">
  <div class="hull-quiz_admin__form--add__title">
    <h1>Create a new quiz</h1>
  </div>
  <ul class="hull-form__fields">
    <li class="hull-form__fields__item">
      <label for="quiz-name" class="hull-form__label">Quiz name:</label>
      <input id="quiz-name" name="quiz-name" class="hull-form__text-input" type="text" placeholder="Enter a name" />
    </li>
    <li class="hull-form__fields__item--submit">
      <button data-hull-action="add" class="hull-btn">Create</button>
    </li>
  </ul>
</form>