<div data-hull-widget="identity"></div>

{{#if loggedIn}}
  <textarea></textarea>
  <button data-hull-action="comment">Send</button>
{{else}}
  <button data-hull-action="login" data-hull-provider="facebook">Login first</button>m
{{/if}}


<ul>
{{#commentable}}
{{#comments}}
  <li>{{name}}, {{description}} (by {{user.name}})</li>
{{/comments}}

{{^comments}}
  oops... no comments for the moment
{{/comments}}
{{/commentable}}
</ul>

