<div class="video-container">
  {{#if isFinished}}
    <video id="{{video.id}}" class="video-js vjs-default-skin" controls preload="auto" poster={{poster}}>
      <source type="application/x-mpegurl" src="{{hls}}">
      <source type="video/mp4" src="{{mp4}}">
    </video>
  {{/if}}

  {{#if isProcessing}}
    <p>Your video is processing.</p>
  {{/if}}

  {{#if hasFailed}}
    </p>Video encoding has failed, please retry later.</p>
  {{/if}}
</div>
