{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "quotes": [2, "single"],
    "key-spacing" : [0],
    "no-multi-spaces": [0],
    "no-mixed-requires": [0],
    "no-underscore-dangle": [0]
  }
}
