<div class="hull-instant hull-instant--won">
  {{#with badge.data}}
    <div class="hull-instant-result">
      <h1>You won a {{prize.name}} !</h1>
      {{#if prize.description}}
        <p class="lead">{{prize.description}}</p>
      {{/if}}
    </div>
  {{/with}}
</div>
