<form class="form">
  <div class="control-group">
    <label class="control-label" for="hull-email">Email where the report will be sent:</label>
    <div class="controls">
      <input id="hull-email" type="email" required>
    </div>
  </div>

  <div class="form-actions">
    <button data-hull-action="extract" class="btn btn-primary btn-large">Export</button>
  </div>
</form>
