{{#if isLiked}}
  <button data-hull-action="unlike" class="btn hull-like--liked">
    <i class="icon-heart"></i>
    Unlike
  </button>
{{else}}
  <button data-hull-action="like" class="btn hull-like">
    <i class="icon-heart"></i>
    Like
  </button>
{{/if}}
