{{#if working}}
  <button class="btn hull-working">
    Loading... 
  </button>
  
{{else}}
  {{#if liked}}
    <button data-hull-action="unlike" class="btn btn-danger">
      Unlike
      <i class="icon-heart"></i>({{likes}})
    </button>
  {{else}}
    <button data-hull-action="like" class="btn hull-like">
      Like
      <i class="icon-heart"></i>({{likes}})
    </button>
  {{/if}}
{{/if}}
