<div class="hull-like">
  {{#if isLiked}}
    <button data-hull-action="unlike" class="hull-btn hull-like--liked">
      <span class="hull-like__icon">&hearts;</span>
      Unlike
    </button>
  {{else}}
    <button data-hull-action="like" class="hull-btn hull-like">
      <span class="hull-like__icon">&hearts;</span>
      Like
    </button>
  {{/if}}
</div>