{{!-- First, we embed the Icons library. Future versions of the library will do this in a more elegant way --}}
{{> share/button/icons_library}}
{{#each buttons}}
  <a href="{{link}}" target='_blank' data-hull-action='share' title="Share on {{name}}">
  {{!-- We embed the button here. Based on http://iconmelon.com/ --}}
  <svg viewBox="0 0 32 32" style='border-radius:100%;width:32px;height:32px;'>
    <use xlink:href="#hull_social_icon_{{name}}"></use>
  </svg>
  </a>
{{/each}}
