<h1>Hey, a super intro !</h1>

{{#if loggedIn}}
<button data-hull-action='start'>Start !</button>
{{else}}
<button data-hull-action='login' data-hull-provider="facebook">Login first... !</button>
{{/if}}
