<div class="hull-quiz hull-quiz--result">
  <div class="hull-quiz__header">
    <h1 class="hull-quiz__title">Bravo...</h1>
  </div>

  <div class="hull-quiz__result">
    {{#result.data}}
      <p class="hull-quiz__result__score">You Have <strong>{{score}}</strong> points !</p>
      <p class="hull-quiz__result__timing">It took <strong>{{timing}}</strong> seconds to answer !</p>
    {{/result.data}}
  </div>

  <button data-hull-action="start" class="hull-btn">Start over...</button>
</div>