<div class="hull-quiz hull-quiz--finished">
  <div class="hull-quiz__header">
    <h1 class="hull-quiz__title">Yeah, you have finished the super quiz !</h1>
  </div>

  <div class="hull-pager">
    <div class="hull-pager__content">
      <button data-hull-action="submit" class="hull-btn">Submit !</button>
    </div>
  </div>
</div>