<h1>Bravo...</h1>

<h3>Badge</h3>
<pre>{{json result}}</pre>

{{#result.data}}
<p>You Have {{score}} points !</p>
<p>It took {{timing}} seconds to answer !</p>
{{/result.data}}

<button data-hull-action="start">Start over...</button>

