.hull-activity{
  margin:0;
  padding:0;
  list-style-type:none;
}

  .hull-activity__item{
    margin:0 0 pem($base-spacing-unit) 0;
  }

  .hull-activity__summary{
    font-weight:normal;
    font-size:pem($h6-size);
    margin:0 0 pem($milli-spacing-unit) 0;
  }
    .hull-activity__summary__actor{
      font-weight:bold;
    }
    .hull-activity__summary__verb{

    }
    .hull-activity__summary__object{
      font-weight:bold;
    }
    .hull-activity__summary__target{

    }

  .hull-activity__content{
    margin:0 0 pem($milli-spacing-unit) 0;
  }
    .hull-activity__content--image{

    }
    .hull-activity__content--comment .hull-activity__content__object img{
      display:none;
    }
    .hull-activity__content__object{

    }
      .hull-activity__content__object img{
          display:block;
          max-width:100%;
          margin:0 0 pem($milli-spacing-unit) 0;
      }
    .hull-activity__content__object__name{
      margin:0;
      font-size:pem($h6-size);
    }
    .hull-activity__content__content{
      font-size:pem($milli-size);
    }

  .hull-activity__meta{

  }
    .hull-activity__meta__target{

    }
    .hull-activity__meta__target--icon{

    }
    .hull-activity__meta__date{
      font-size:pem($micro-size);
    }