.hull-activity{
  margin:0;
  padding:0;
  list-style-type:none;
}

  .hull-activity__item{
    @extend %base-margin-bottom;
  }

  .hull-activity__summary{
    @extend %milli-margin-bottom;
    font-weight:normal;
    font-size:pem($h6-size);
  }
    .hull-activity__summary__actor{
      @extend %bold;
    }
    .hull-activity__summary__verb{

    }
    .hull-activity__summary__object{
      @extend %bold;
    }
    .hull-activity__summary__target{

    }

  .hull-activity__content{
    @extend %milli-margin-bottom;
  }
    .hull-activity__content--image{

    }
    .hull-activity__content--comment .hull-activity__content__object img{
      display:none;
    }
    .hull-activity__content__object{

    }
      .hull-activity__content__object img{
        @extend %milli-margin-bottom;
        display:block;
        max-width:100%;
      }
    .hull-activity__content__object__name{
      margin:0;
      font-size:pem($h6-size);
    }
    .hull-activity__content__content{
      font-size:pem($milli-size);
    }

  .hull-activity__meta{

  }
    .hull-activity__meta__target{

    }
    .hull-activity__meta__target--icon{

    }
    .hull-activity__meta__date{
      font-size:pem($micro-size);
    }