.hull-comments{

}

  .hull-comments__form{
    @extend %base-margin-bottom;
  }
    .hull-comments__text{
      @extend .hull-form__text-input--textarea;
    }

  .hull-comments__list{
    @extend %base-margin-bottom;
    list-style-type:none;
    padding:0;
  }
    .hull-comments__list__item{
      @extend %base-margin-bottom;
    }
    .hull-comments__timestamp{
      float:right;
      font-size:pem($micro-size);
    }
    .hull-comments__name{
      @extend %milli-margin-bottom;
      font-size:pem($h6-size);
    }
    .hull-comments__description{
      font-size:pem($milli-size);
    }