.hull-friends{

}
  .hull-friends__list{
    @extend %base-margin-bottom;
    list-style-type:none;
    padding:0;
  }
    .hull-friends__list__item{
      @extend %base-margin-bottom;
    }
  .hull-friends__name{
    font-size:pem($h6-size);
    margin:pem($milli-spacing-unit) 0 pem($milli-spacing-unit) 0;
  }
  .hull-friends__created{
    font-size:pem($milli-size);
  }