.hull-quiz_admin,
.hull-quiz_admin__list{
    @extend %base-margin-bottom;
}

  ol.hull-form__fields{
    counter-reset: item;
    margin-left:30px;
    li{position:relative;}
    > .hull-form__fields__item:before {
      content: counter(item);
      counter-increment: item;
      width:30px;
      position:absolute;
      left:-30px;
      text-align:center;
      display:block;
      line-height:2;
    }
  }