.hull-registration,
.hull-registration--complete{
  margin:0 0 pem($base-spacing-unit) 0;
}
  .hull-registration--complete__title{
    font-size:pem($milli-size);
    margin:0 0 pem($half-spacing-unit) 0;
  }