.hull-reviews__form{
    max-width:400px;
}
  .hull-reviews__form__select{

  }
  .hull-reviews__form__text{
      @extend .hull-form__text-input--textarea;
    }
  .hull-reviews__list{
    @extend %base-margin-bottom;
    list-style-type:none;
    padding:0;
  }
    .hull-reviews__list__item{
      @extend %half-margin-bottom;
    }
  .hull-reviews__content{
  }