$upload-color: $low-color;
$upload-text-color:   hsl(0, 0, 100%);
@if lightness($upload-color) > 70% {
    $upload-text-color:       hsl(0, 0, 20%);
}

.hull-upload{
  @extend %base-margin-bottom;
}
  .hull-upload__dropzone{
    @extend %base-margin-bottom;
    @extend %bold;
    @include vendor(box-sizing, border-box);
    display:table;
    border-radius:$brand-round;
    width:200px;
    height:200px;
    text-align:center;
    font-size:pem($base-font-size);
    background-color:$upload-color;
    color:$upload-text-color;
    color:rgba($upload-text-color,.5);
    border: 4px dashed adjust-color($upload-color, $lightness: -20%);
    b{
        display:table-cell;
        vertical-align:middle;
    }
  }
  .hull-upload__filebutton{

  }

