<div class="hull-instant hull-instant--ended">
  <div class="hull-instant__header">
    <h1 class="hull-instant__title">The Game is over.</h1>
    <p class="hull-instant__description">Come back next year.</p>
  </div>
</div>
