{{>instant_win/header}}
<div class="hull-instant hull-instant--intro">
  {{#if loggedIn}}
    <button class="hull-btn--instant" data-hull-action="play">Play</button>
  {{else}}
    {{#each authProviders}}
      <button class="hull-btn--instant" data-hull-action="play" data-hull-provider={{this}}>Loggin with with {{this}} and play.</button>
    {{/each}}
  {{/if}}
</div>
{{>instant_win/footer}}
