<div class="hull-instant hull-instant--intro">
  <h1 class="hull-instant__title">{{achievement.name}}</h1>
  <p class="hull-instant__description">{{achievement.description}}</p>
  {{>instant_win/buttons}}
</div>
