<div class="hull-instant hull-instant--lost">
  <div class="hull-instant-result">
    <h1 class="hull-instant-result__title">You Lose...</h1>
    <p class="hull-instant-result__description">Come back tomorrow!</p>
  </div>
</div>
