<div class="hull-instant hull-instant--played">
  <div class="hull-instant-result">
    <h1 class="hull-instant-result__title">You've already played today!</h1>
    <p class="hull-instant-result__description">Come back tomorrow!</p>
  </div>
</div>
