{{>instant_win/header}}
<div class="hull-instant hull-instant--unstarted">
  <div class="hull-instant__header">
    <h1 class="hull-instant__title">The Game hasn't started yet.</h1>
    <p class="hull-instant__description">Come back later!</p>
  </div>
</div>
{{>instant_win/footer}}
