<form action="" method="post" enctype="multipart/form-data">
  <input type="file" name="file" accept="video/*">

  <input type="hidden" name="AWSAccessKeyId" value="">
  <input type="hidden" name="Content-Type" value="">
  <input type="hidden" name="acl" value="">
  <input type="hidden" name="key" value="">
  <input type="hidden" name="policy" value="">
  <input type="hidden" name="signature" value="">
  <input type="hidden" name="success_action_status" value="">
</form>
