<div class="hull-instant-admin">
  <h1>Instant Win Admin</h1>

  <div class="hull-instant-admin__section">
    <h2 class="hull-instant-admin__section-title">Create an Instant Win</h2>

    <div>
      <label for="hull-instant-name">Name: </label>
      <input id="hull-instant-name" name="hull-instant-name" type="text">
    </div>

    <div>
      <label for="hull-instant-description">Description: </label>
      <input id="hull-instant-description" name="hull-instant-description" type="text">
    </div>

    <button data-hull-action="create">Create</button>
  </div>

  <div class="hull-instant-admin__section">
    <h2 class="hull-instant-admin__section-title">Update Achievement</h2>

    <div>
      <label for="hull-achievement-id">Select an Instant Win to Edit: </label>
      <select id="hull-achievement-id" name="hull-achievement-id">
        {{#each achievements}}
          <option value="{{this.id}}">{{this.name}} - {{this.id}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="hull-instant-admin__section">
    <div>
      <label for="hull-instant-update-name">Name: </label>
      <input id="hull-instant-update-name" name="hull-instant-update-name" type="text">
    </div>

    <div>
      <label for="hull-instant-update-description">Description: </label>
      <input id="hull-instant-update-description" name="hull-instant-update-description" type="text">
    </div>

    <button data-hull-action="updateAchievement">Update Achievement</button>
  </div>

  <div class="hull-instant-admin__section">
    <div>
      <label for="hull-prizes-json">Prizes JSON: </label>
      <textarea id="hull-prizes-json" name="hull-prizes-json" rows="20" cols="30"></textarea>
    </div>

    <button data-hull-action="updatePrizes">Update Prize</button>
  </div>
</div>
