[data-hull-component="admin/user_profile@hull"] .avatar {
  margin-right: 10px;
  margin-top: 15px;
}

[data-hull-component="admin/user_profile@hull"] header.name {
  margin: 18px -25px;
  border-bottom: 1px solid rgba(0,140,221,.4);
  padding-left: 33px;
  background: rgba(0, 140, 221, 0.05);
}

[data-hull-component="admin/user_profile@hull"] header.name:first-of-type {
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

[data-hull-component="admin/user_profile@hull"] header.name h4 {
  margin: 3px 0 0;
}

[data-hull-component="admin/user_profile@hull"] .social-details a {
  margin-left: 15px;
}
[data-hull-component="admin/user_profile@hull"] header {
  padding: 3px 8px;
  border-bottom: 1px solid #CCC;
  color: #008cdd;
  background: none;
}

[data-hull-component="admin/user_profile@hull"] header h3 {
  padding: 3px 0;
  margin: 0;
}

[data-hull-component="admin/user_profile@hull"] header h3,
[data-hull-component="admin/user_profile@hull"] header h4 {
  color: #5A5A6A;
}

