<div class="hull-conversation-default">
  {{#if conversationId}}
    <div class="span10" data-hull-widget="conversation" data-hull-provider="hull" data-hull-id="{{conversationId}}" data-hull-order="desc"></div>
  {{/if}}
</div>
