html{
    font:16px/1.5 Helvetica;
    overflow-y:scroll;
    min-height:100%;
}

body > div{
    max-width:600px;
    background:#fafafa;
    margin:0 auto 60px!important;
    padding:2em;
}
body > div:before {
    content:attr(data-hull-widget);
    display:block;
    font-size:24px;
    font-weight:bold;
    margin-bottom:15px;
}