<div class="hull-registration hull-registration--complete">
  <p>Registration complete... thanks </p>
  {{#if options.editable}}
    <button class="btn" data-hull-action="edit">Edit my Profile</button>
  {{/if}}
</div>
