<div class="hull-quiz hull-quiz--intro">
  <div class="page-header">
    <h1>{{quiz.name}}</h1>
    <p class="lead">{{quiz.description}}</p>
  </div>

  {{#if loggedIn}}
    <button data-hull-action="start" class="btn btn-large btn-primary">Start</button>
  {{else}}
      <div data-hull-component="identity@hull"></div>
  {{/if}}

</div>