<div class="hull-quiz hull-quiz--finished">
  <div class="page-header">
    <h1>Congratulations. <small>You have finished the  quiz!</small></h1>
  </div>

    <ul class="pager">
    <li>
      <a href="#" data-hull-action="submit">Submit</a>
    </li>
  </ul>
</div>