body {
  padding: 0;
}
#mocha h1, #mocha h2 {
  line-height: 20px;
}

#mocha h1 a {
  font-weight: bold;
}

#mocha-stats {
  position: static;
}

#mocha .progress {
  height: 40px;
  float:none;
}

#mocha .test a.replay {
  display: inline-block;
  position: relative;
}
