  <span class="btn btn-success fileinput-button"> <i class="icon-plus icon-white"></i> <span>Add files...</span> <input type="file" name="files[]" multiple=""> </span>
  <button type="submit" data-hull-action="start" class="btn btn-primary start"> <i class="icon-upload icon-white"></i> <span>Start upload</span> </button>
  <button type="reset" data-hull-action="cancel" class="btn btn-warning"> <i class="icon-ban-circle icon-white"></i> <span>Cancel upload</span> </button>
  <button type="button" data-hull-action="delete" class="btn btn-danger"> <i class="icon-trash icon-white"></i> <span>Delete</span> </button>
  <input type="checkbox" class="toggle">
