<div class="hull-conversations">
  {{#if conversations}}
    <table class="table table-hover">
      <tr>
        <th>Subject</th>
        <th>Message Count</th>
        <th>Participants</th>
        <th>Last updated</th>
      </tr>
      {{#conversations}}
        <tr class="conversation">
          <td>{{name}}</td>
          <td>{{messages_count}}</td>
          <td>
            <ul>
            {{#participants}}
              <li>{{name}}</li>
            {{/participants}}
            </ul>
          </td>
          <td>{{formatTime updated_at 'HH-mm  aa'}}</td>
        </tr>
        </a>
      {{/conversations}}
    </table>
  {{/if}}
</div>

