{{#if liked}}
  <button data-hull-action="unlike" {{#unless loggedIn}}disabled{{/unless}} class="btn btn-danger">
    <i class="icon-heart"></i> {{likesCount}}
  </button>
{{else}}
  <button data-hull-action="like" class="btn" {{#unless loggedIn}}disabled{{/unless}}>
    <i class="icon-heart"></i> {{likesCount}}
  </button>
{{/if}}
