<div class="new">
  <form>
    <div class="input-append">
      <input name="name" id="name" class="input-medium" type="text"/>
      <button class="btn" href="#" type="submit">Create</button>
    </div>
  </form>
</div>
<ul class="lists nav nav-tabs nav-stacked">
</ul>

