{{#each elements}}
  <li>
    <a href="#" data-hull-action='toggle' data-hull-list-id='{{id}}'>
      <i class="icon icon-list">☰</i>
      {{name}}
      <span class="pull-right listed {{cssClass}}"></span>
    </a>
  </li>
{{/each}}
