<div class="btn btn-mini">...</div>
<style type="text/css">
  [data-hull-component^="lists/membership"] .popover-content {
    padding: 0;
  }
  [data-hull-component^="lists/membership"] .popover,
  [data-hull-component^="lists/membership"] ul {
    margin: 0;
    /* this sucks, yet it works */
    width: 276px;
  }

  [data-hull-component^="lists/membership"] ul li.new form {
    margin:0;
  }
  [data-hull-component^="lists/membership"] ul li.new,
  [data-hull-component^="lists/membership"] ul li.new:hover  {
    padding: 5px 5px;
    background-color: #D1D1D1;
  }
  [data-hull-component^="lists/membership"] ul li.new .input-append {
    margin: 0;
  }
  [data-hull-component^="lists/membership"] ul li {
    list-style-type: none;
    padding: 9px 14px;
  }
  [data-hull-component^="lists/membership"] ul li:hover {
    background-color: #f1f3f5;
    cursor: pointer;
  }
  [data-hull-component^="lists/membership"] ul li .icon {
    padding-right: 10px;
  }

  [data-hull-component^="lists/membership"] ul li .listed::before {
    content:'✔';
    color: #468847;
  }
</style>
