<footer class="wrapper featurette featurette-well project-footer">
  <div class="container">
    <div class="project-about">
      <div class="row">
        <div class="span6 offset1">
          <div class="media">
            <div class="pull-left">
              <h1 class="project-about-logo media-object">hull</h1>
            </div>
            <div class="media-body">
              <h4 class="light-title light project-about-description"> hull offers developers a complete platform to add social features to their apps quickly and easily. </h4>
            </div>
          </div>
        </div>
        <div class="span2 offset2 end text-right">
          <h6> <a href="http://github.com/hull/">Fork us on GitHub</a> </h6>
          <h6> <a href="http://twitter.com/hull/">Follow us on Twitter</a> </h6>
          <h6> <a href="http://hull.io">Visit our website</a> </h6>
        </div>
      </div>
    </div>

    <div class="row"> <div class="span10 offset1"> <hr> </div> </div>

    <div class="row project-copyright">
      <div class="span5 offset1">
        <small> <a href="http://hull.io"> Built with <span class="project-copyright-logo">hull</span> </a> </small>
      </div>
      <div class="span5 end text-right">
        <small>Copyright 2013 Hull, Inc.</small>
      </div>
    </div>
  </div>
</footer>
