<div class="hull-friends">
  {{#if friends}}
    <ul class="media-list">
      {{#each friends}}
        <li class="media">
          <a class='pull-left' href="#">
            <img src="{{avatar}}" alt="{{name}}" width="50" height="50">
          </a>
          <div class="media-body">
            <h4>{{name}}</h4>
          </div>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div class="hull-empty">
      <p>Oops… No friends for the moment</p>
    </div>
  {{/if}}
</div>
