{{#if friends}}
  <ul class="media-list hull-friends">
    {{#each friends}}
      <li class="media">
        <div class="pull-left">
          <img src="{{avatar}}" alt="{{name}}" class="media-object img-round">
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{name}}</h4>
        </div>
      </li>
    {{/each}}
  </ul>
{{else}}
  <div class="alert">
   Oops… No friends for the moment
  </div>
{{/if}}
