<div class="well">
  <h2>Quizzes for <strong>{{app.name}}</strong></h2>
  <ul>
    {{#quizzes}}
      <li>
        <a href="#" data-hull-id="{{id}}" data-hull-action="edit">
          <strong>{{name}}</strong>
          <small>{{description}}</small>
        </a>
      </li>
    {{/quizzes}}
    {{^quizzes}}
      <li>No quizzes defined</li>
    {{/quizzes}}
  </ul>
</div>
<div class="well">
  <h2>Create a new quiz</h2>
  <form>
    <fieldset>
      <label>Quiz JSON data:</label>
      <textarea data-hull-item="quiz-json" class='input-block-level' rows="5" placeholder="Enter your JSON here"></textarea>
      <div class="form-actions">
        <button data-hull-action="create" class="btn btn-primary">Create</button>
      </div>
    </fieldset>
  </form>
</div>
