/*------------------------------------*\
    $MEDIA
\*------------------------------------*/
.hull-media{
    display:block;
    @extend .cf;
}
    .hull-media__img{
        float:left;
        margin-right:pem($half-spacing-unit);
    }
    /**
     * Reversed image location (right instead of left).
     */
    .hull-media__img--rev{
        float:right;
        margin-left:pem($half-spacing-unit);
    }

        .hull-media__img img,
        .hull-media__img--rev img{
            display:block;
        }

    .hull-media__body{
        //overflow:hidden;
        display:table-cell;
        width:10000px;
    }
        .hull-media__body,
        .hull-media__body > :last-child{
            margin-bottom:0;
        }

