<div class="hull-lists">
{{#if loggedIn}}
  <h1 class="hull-lists__form__title">Create a new List</h1>
  <form data-hull-action="createList">
    <ul class='unstyled'>
      <li>
        <label for="name">Name:</label>
        <input type="text" name="name">
      </li>
      <li>
        <label class="" for="description">Description:</label>
        <input type="text" name="description">
      </li>
      <li>
        <input type="submit" class="btn">
      </li>
    </ul>
  </form>
{{else}}
  <div data-hull-component="identity@hull"></div>
{{/if}}
</div>

