<div class="fuelux">
<table id="MyGrid" class="table datagrid">
  <thead>
    <tr class="search-header">
      <th colspan="5">
        <div class="datagrid-header-left">
          <div class="input-append search datagrid-search">
            <input type="text" class="input-medium" placeholder="Search">
            <button type="button" class="btn"><i class="icon-search"></i></button>
          </div>
        </div>
        <div class="datagrid-header-right">
          <span>Period:</span>
          <div class="period btn-group" data-toggle="buttons-radio">
            <button value="day" class="btn">1 day</button>
            <button value="week" class="btn">1 week</button>
            <button value="month" class="btn">1 month</button>
            <button value="all" class="default btn">all</button>
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>
        <div class="datagrid-footer-left" style="display:none;">
          <div class="grid-controls">
            <span>
              <span class="grid-start"></span> -
              <span class="grid-end"></span> of
              <span class="grid-count"></span>
            </span>
            <!-- <div class="select grid&#45;pagesize" data&#45;resize="auto"> -->
            <!--   <button type="button" data&#45;toggle="dropdown" class="btn dropdown&#45;toggle"> -->
            <!--     <span class="dropdown&#45;label"></span> -->
            <!--     <span class="caret"></span> -->
            <!--   </button> -->
            <!--   <ul class="dropdown&#45;menu"> -->
            <!--     <li data&#45;value="5" data&#45;selected="true"><a href="#">5</a></li> -->
            <!--     <li data&#45;value="20"><a href="#">20</a></li> -->
            <!--     <li data&#45;value="30"><a href="#">30</a></li> -->
            <!--     <li data&#45;value="50"><a href="#">50</a></li> -->
            <!--     <li data&#45;value="100"><a href="#">100</a></li> -->
            <!--   </ul> -->
            <!-- </div> -->
            <!-- <span>Per Page</span> -->
          </div>
        </div>
        <div class="datagrid-footer-right" style="display:none;">
          <div class="grid-pager">
            <button type="button" class="btn-link btn grid-prevpage"><i class="icon-chevron-left"></i></button>
            <span>Page</span>

            <!-- <div class="input&#45;append dropdown combobox"> -->
              <input disabled="disabled" class="span1" type="text">
            <!--   <button type="button" class="btn" data&#45;toggle="dropdown"><i class="caret"></i></button> -->
            <!--   <ul class="dropdown&#45;menu"></ul> -->
            <!-- </div> -->
            <span>of <span class="grid-pages"></span></span>
            <button type="button" class="btn-link btn grid-nextpage"><i class="icon-chevron-right"></i></button>
          </div>
        </div>
      </th>
    </tr>
  </tfoot>
</table>
</div>
