/*------------------------------------*\
    $FORMS
\*------------------------------------*/

.hull-form{
  @extend %base-margin-bottom;
}
  .hull-form__fieldset{
      padding:$base-spacing-unit;
  }


/**
 * Text inputs
 */
.hull-form__text-input,
.hull-form__text-input--textarea{
  @include vendor(box-sizing, border-box);
  @extend %half-margin-bottom;
  display:block;
  font-family: inherit;
  font-size: 100%;
  overflow: auto;
  vertical-align: top;
  width:100%;
  line-height:1;
  padding:0 pem($milli-spacing-unit);
  font-size:pem($milli-size);
  border:1px solid $border-color;
  border-radius:$brand-round;
  &:focus{
      outline:0;
      border-color:darken($border-color, 20%);
  }
}
.hull-form__text-input--textarea{
    padding:pem($half-spacing-unit);
    resize:vertical;
}

/**
 * Group sets of form fields in a list, e.g.:
 *
   <ul class=form-fields>
       <li>
           <label />
           <input />
       </li>
       <li>
           <label />
           <select />
       </li>
       <li>
           <label />
           <input />
       </li>
   </ul>
 *
 */
.hull-form__fields{
    list-style:none;
    margin:0;
    padding:0;
}
    .hull-form__fields > li{
        @extend %base-margin-bottom;
    }
    .hull-form__fields > li:last-child{
        margin-bottom:0;
    }


/**
 * Labels
 *
 * Define a `.label` class as well as a `label` element. This means we can apply
 * label-like styling to meta-labels for groups of options where a `label`
 * element is not suitable, e.g.:
 *
   <li>
       <span class=label>Select an option below:</span>
       <ul class="multi-list  four-cols">
           <li>
               <input /> <label />
           </li>
           <li>
               <input /> <label />
           </li>
           <li>
               <input /> <label />
           </li>
           <li>
               <input /> <label />
           </li>
       </ul>
   </li>
 *
 */
.hull-form__label{
  @extend %bold;
  @extend %milli-margin-bottom;
  display:block;
  font-size:pem($milli-size);
}
    /**
     * Extra help text in `label`s, e.g.:
     *
       <label>Card number <small class=additional>No spaces</small></label>
     *
     */
    .hull-form__label__additional{
        display:inline-block;
        font-weight:normal;
    }


/*
 * Groups of checkboxes and radios, e.g.:
 *
   <li>
       <ul class=check-list>
           <li>
               <input /> <label />
           </li>
           <li>
               <input /> <label />
           </li>
       </ul>
   </li>
 *
 */
.hull-form__check-list{
    list-style:none;
    margin:0;
}
    /*
     * Labels in check-lists
     */
    .hull-form__check-label,
    .hull-form__check-list label,
    .hull-form__check-list .label{
        display:inline-block;
    }


/**
 * Extra help text displayed after a field when that field is in focus, e.g.:
 *
   <label for=email>Email:</label>
   <input type=email class=text-input id=email>
   <small class=extra-help>.edu emails only</small>
 *
 * We leave the help text in the document flow and merely set it to
 * `visibility:hidden;`. This means that it won’t interfere with anything once
 * it reappears.
 *
 */
/*small*/.hull-form__extra-help{
    display:inline-block;
    visibility:hidden;
}
.hull-form__text-input:active + .hull-form__extra-help,
.hull-form__text-input:focus + .hull-form__extra-help{
    visibility:visible;
}


.hull-form__error{
 font-size:pem($milli-size);
 color:#d93636;
}

.hull-form__select{
    width:100%;
}