<div class="hull-registration--complete">
  <h5 class="hull-registration--complete__title">Registration complete... thanks</h5>
  <button data-hull-action="edit" class="hull-btn">Edit</button>
</div>
