<form class="form-inline">
  <fieldset>
    <legend>Registration Admin</legend>
      <p></p>
      <textarea id="hull-fields-json" class="input-xxlarge" rows="15"></textarea>
      <div class="form-actions">
        <button data-hull-action="updateFields" class="btn btn-primary">Submit</button>
      </div>
  </fieldset>
</form>
